<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Store.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Store.Properties.Settings.POSConnectionString" connectionString="Data Source=(LOCAL);Initial Catalog=POS;Persist Security Info=True;User ID=SA;Password=mutawa2011" />
        <add name="Store.Properties.Settings.CPHMASConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Arehman-lptp\Desktop\CPHMAS.MDB"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Store.Properties.Settings>
            <setting name="RemoteServer" serializeAs="String">
                <value>Data Source=78.93.190.90;Initial Catalog=POS;User ID=SA;Password=mutawa2011</value>
            </setting>
            <setting name="RemoteSync" serializeAs="String">
                <value>Data Source=78.93.190.90;Initial Catalog=SYNC;User ID=SA;Password=mutawa2011</value>
            </setting>
        </Store.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
